<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>575426506184-knlqdg83d5i8aitj8v1p0mhmchd9d4g4.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.575426506184-knlqdg83d5i8aitj8v1p0mhmchd9d4g4</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>575426506184-bo343jfd0vahbj2d14u5pjjgfk23gf3p.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyB1LPbRkNv0nKz2gVEPw1aje9yqkeQpfrY</string>
	<key>GCM_SENDER_ID</key>
	<string>575426506184</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>br.com.paroquiadoverbodivino.confesseja</string>
	<key>PROJECT_ID</key>
	<string>confesse-ja-b9a3e</string>
	<key>STORAGE_BUCKET</key>
	<string>confesse-ja-b9a3e.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:575426506184:ios:48a5959f796e89e16024fd</string>
	<key>DATABASE_URL</key>
	<string>https://confesse-ja-b9a3e.firebaseio.com</string>
</dict>
</plist>